<div class="alignment-roll-area">
	<button id="roll-button" type="button">Roll Alignment!</button>
	<div id="die-display" aria-live="polite">?</div>
</div>

<div id="alignment-chart-grid" role="grid">
	<div
		class="alignment-cell alignment-good"
		data-alignment="LG"
		role="gridcell"
		tabindex="0"
		title="Lawful Good"
	>
		LG
	</div>
	<div
		class="alignment-cell alignment-good"
		data-alignment="NG"
		role="gridcell"
		tabindex="0"
		title="Neutral Good"
	>
		NG
	</div>
	<div
		class="alignment-cell alignment-good"
		data-alignment="CG"
		role="gridcell"
		tabindex="0"
		title="Chaotic Good"
	>
		CG
	</div>
	<div
		class="alignment-cell alignment-neutral-row"
		data-alignment="LN"
		role="gridcell"
		tabindex="0"
		title="Lawful Neutral"
	>
		LN
	</div>
	<div
		class="alignment-cell alignment-neutral-row"
		data-alignment="TN"
		role="gridcell"
		tabindex="0"
		title="True Neutral"
	>
		TN
	</div>
	<div
		class="alignment-cell alignment-neutral-row"
		data-alignment="CN"
		role="gridcell"
		tabindex="0"
		title="Chaotic Neutral"
	>
		CN
	</div>
	<div
		class="alignment-cell alignment-evil"
		data-alignment="LE"
		role="gridcell"
		tabindex="0"
		title="Lawful Evil"
	>
		LE
	</div>
	<div
		class="alignment-cell alignment-evil"
		data-alignment="NE"
		role="gridcell"
		tabindex="0"
		title="Neutral Evil"
	>
		NE
	</div>
	<div
		class="alignment-cell alignment-evil"
		data-alignment="CE"
		role="gridcell"
		tabindex="0"
		title="Chaotic Evil"
	>
		CE
	</div>
</div>

<div class="alignment-examples" id="alignment-examples">
	<p><em>Hover over grid or wait for roll...</em></p>
</div>
